boto3==1.28.18
botocore==1.31.18
cfgv==3.3.1
distlib==0.3.7
filelock==3.12.2
identify==2.5.26
jmespath==1.0.1
nodeenv==1.8.0
platformdirs==3.10.0
pre-commit==3.3.3
python-dateutil==2.8.2
PyYAML==6.0.1
s3transfer==0.6.1
six==1.16.0
urllib3==1.26.19
virtualenv==20.26.6
pyjq==2.6.0
