boto3==1.28.36
botocore==1.31.36
certifi==2023.7.22
cfgv==3.4.0
charset-normalizer==3.2.0
distlib==0.3.7
filelock==3.12.2
identify==2.5.27
idna==3.4
jmespath==1.0.1
jq==1.4.1
nodeenv==1.8.0
platformdirs==3.10.0
pre-commit==3.3.3
python-dateutil==2.8.2
PyYAML==6.0.1
requests==2.31.0
s3transfer==0.6.2
six==1.16.0
urllib3==1.26.16
virtualenv==20.24.3
